
.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  text-align: center;
  /* flex: 1; */
  justify-content: center;
  margin-bottom: 20px;
}



.with-blur-backdrop {

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  font-weight: bold;
  align-items: center;
  padding: 20px;
}



.background {

  background-image: url(../../assets/aboutbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.text {
  text-align: justify;
}


@media screen and (max-width: 1350px) {
  .about_wrapper {
    width: 95%;
    margin-bottom: 20px;
  }
  .parallax-text {
    font-size: 180px;
  }
  .with-blur-backdrop {
    padding: 0;
  }

}


@media screen and (max-width: 900px) {
  .text {
    font-size: 14px;
  }

}


@media screen and (max-width: 600px) {
  .text {
    font-size: 12px;
  }
}
