.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    flex: 1;
    justify-content: center;

}

.profile_image {
    width: 100%;
    max-width: 380px;
}

.profile_image img {
    width: 100%;
    max-width: 380px;
    border-radius: 50%;
    border: 7px solid #DAA520;

}

.homesection {
    display: flex;
    width: 100%;
    max-width: 1400px;
    gap: 100px;
    margin: 200px 0px;
    justify-content: center;
}

.homepagesection_right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    max-width: 500px;
    gap: 20px;
}

.homepagesection_right h1 h3 {
    margin: 0;
}

@media screen and (max-width: 900px) {
    .home_wrapper {
        width: 90%;
        flex: 0;
    }

    .homepagesection_right {
        gap: 0;
    }

    .homepagesection_right h3 {
        font-size: 16px;
    }

    .homepagesection_right h1 {
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {
    .home_wrapper h1 {
        font-size: 24px;
    }

    .home_wrapper p {
        font-size: 14px;
    }
        .homepagesection_right {
        align-items: center;
    }


    .homesection {
        flex-wrap: wrap;
        margin: 50px 0;
    }
    .profile_image {
    max-width: 300px;
}


}

@media screen and (max-width: 320px) {
    .home_wrapper {
        margin-top: 50px;
    }
}