.parallax-container {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}

.parallax-text {
  font-size: 200px;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
  background-image: url('../../assets/zmijanjski-vez.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  will-change: transform;
  pointer-events: none;
  margin: 0;
  line-height: 1;
}

@media screen and (max-width: 1350px) {
  .parallax-text {
    font-size: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .parallax-text {
    font-size: 130px;
  }
  .parallax-container {
    height: 25vh;
  }
}



@media screen and (max-width: 900px) {
  .parallax-text {
    font-size: 120px;
  }
}

@media screen and (max-width: 750px) {
  .parallax-text {
    font-size: 100px;
  }
}

@media screen and (max-width: 570px) {
  .parallax-text {
    font-size: 80px;
  }
    .parallax-container {
    height: 10vh;
  }
}

@media screen and (max-width: 500px) {
  .parallax-text {
    font-size: 65px;
  }
}