.notfound_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    flex: 1;
    justify-content: center;
    min-height: 100vh;

}

.error {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.subheading {
    width: 100%;
    max-width: 600px;
    text-align: center;
}