.notfound_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    flex: 1;
    justify-content: center;
    min-height: 100vh;

}

.error {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.subheading {
    width: 100%;
    max-width: 600px;
    text-align: center;
}


@media screen and (max-width: 900px) {
    .notfound_wrapper {
        width: 95%;
        min-height: 70vh;
    }

    .notfound_wrapper h1 {
        font-size: 30px;
    }
}


@media screen and (max-width: 600px) {
    .notfound_wrapper h1 {
        font-size: 22px;
    }

    .subheading {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .notfound_wrapper h1 {
        font-size: 20px;
    }

    .subheading {
        font-size: 16px;
    }
}


@media screen and (max-width: 400px) {
      .notfound_wrapper h1 {
        font-size: 18px;
    }

    .subheading {
        font-size: 14px;
    }
}